In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import geopandas as gpd
from geopandas import GeoSeries
import seaborn as sns

%matplotlib inline
from tqdm import tqdm
from geopandas.tools import sjoin

In [22]:
CAS = pd.read_csv('../Data/Geo_Data/Census_Area_Statistics_CAS_Wards_January_2003_Names_and_Codes_in_the_United_Kingdom.csv')
Wards_boundries = gpd.read_file('../Data/Geo_Data/Wards_December_2016_Full_Clipped_Boundaries_in_the_UK.shp')
Wards = pd.read_csv('../Data/Geo_Data/wards_december_2016_names_and_codes_in_the_united_kingdom.csv')

In [24]:
CAS = CAS.rename(columns={"WDCAS03NM": "name"})
Wards = Wards.rename(columns={"WD16NM": "name"})

In [25]:
len(Wards)

9130

In [26]:
len(CAS)

10654

In [33]:
len(Wards['name'].unique())

8384

In [34]:
len(CAS['name'].unique())

9701

In [30]:
merged = Wards.merge(CAS,on="name")

In [31]:
merged

          WD16CD                     name  FID_x WDCAS03CD  FID_y
0      E05006769       Frome Berkley Down   4001    40UBGS   7769
1      E05007248                  Whitton   4002    00BDGP    617
2      E05007248                  Whitton   4002    42UHGU   8054
3      E05007248                  Whitton   4002    42UDGJ   8364
4      E05007248                  Whitton   4002    00EFNE   1453
5      E05007132                  Whitton   4146    00BDGP    617
6      E05007132                  Whitton   4146    42UHGU   8054
7      E05007132                  Whitton   4146    42UDGJ   8364
8      E05007132                  Whitton   4146    00EFNE   1453
9      E05000533                  Whitton    606    00BDGP    617
10     E05000533                  Whitton    606    42UHGU   8054
11     E05000533                  Whitton    606    42UDGJ   8364
12     E05000533                  Whitton    606    00EFNE   1453
13     E05007249               Worlingham   4003    42UHGW   8067
14     E05007250                 Wrentham   4005    42UHGX   8073
15     E05007273                   Auriol   4006    43UCFP   8233
16     E05006771            Frome Keyford   4007    40UBGU   7781
17     E05007274                  College   4008    13UBGM   3785
18     E05007274                  College   4008    00BEGG    622
19     E05007274                  College   4008    23UBFW   5138
20     E05007274                  College   4008    30UKFZ   6142
21     E05007274                  College   4008    35UGFZ   6997
22     E05007274                  College   4008    18UHGU   4580
23     E05007274                  College   4008    43UCFQ   8240
24     E05007274                  College   4008    00EHNG   1556
25     E05007274                  College   4008    00GFNR   1846
26     E05008600                  College   4863    13UBGM   3785
27     E05008600                  College   4863    00BEGG    622
28     E05008600                  College   4863    23UBFW   5138
29     E05008600                  College   4863    30UKFZ   6142
...          ...                      ...    ...       ...    ...
12278  E05001222                Foleshill    954    00CQFE   1467
12279  E05001327              Ettingshall    956    00CWFF   1274
12280  E05001068                  Blaydon    957    00CHFD    838
12281  E05000921                  Haydock    958    00BZFF    808
12282  E05001223                   Henley    963    44UEGZ   8586
12283  E05001223                   Henley    963    00CQFF   1468
12284  E05000922                Moss Bank    965    00BZFH    810
12285  E05001328            Fallings Park    966    00CWFG   1275
12286  E05001123               Longbenton    967    00CKFJ   1067
12287  E05000970                  Prenton    968    00CBFR   1158
12288  E05001170               Shiney Row    969    00CMFQ    993
12289  E05001071                 Chowdene    972    00CHFF    840
12290  E05001277                Smethwick    976    00CSFT   1375
12291  E05001171               Silksworth    977    00CMFR    994
12292  E05001329                Graiseley    978    00CWFH   1276
12293  E05001072  Crawcrook and Greenside    980    00CHFG    841
12294  E05001278        Soho and Victoria    982    00CSFU   1376
12295  E05000972                 Seacombe    984    00CBFT   1160
12296  E05000925                 Rainford    986    00BZFN    816
12297  E05001330               Heath Town    987    00CWFJ   1277
12298  E05001073                  Deckham    988    00CHFH    842
12299  E05001226              Lower Stoke    989    00CQFJ   1471
12300  E05001279             Tipton Green    990    00CSFW   1377
12301  E05001126           Northumberland    992    00CKFM   1070
12302  E05001331               Merry Hill    994    00CWFL   1279
12303  E05000926                 Rainhill    995    00BZFP    819
12304  E05001227                  Radford    996    00CQFK   1472
12305  E05001280                 Tividale    997    00CSFX   1378
12306  E05000974                 Wallasey    998    00CBFY   1164
12307  E05001174          Washington East   1000    00CMFY   1000

[12308 rows x 5 columns]